<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="students" type="UserConfig.Collection.Students, UserConfig.Collection"/>
  </configSections>

  <students>
    <add name="tom" age="18" />
    <add name="jack" age="21" />
    <add name="bob" age="17" />
  </students>
</configuration>